<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side">
    <div style="background-color: #7062c3; height: 64px;">
    </div>
    <mat-nav-list>
      <div style="margin-top: 20px; display: block;"></div>
      <a mat-list-item href="users-admin" style="display: flex; align-items: center; justify-content: space-between; ">
        <div style="display: flex; align-items: center;">
          <i class="fa-solid fa-gears" style="font-size: 20px;"></i>
          <span style="font-size: small;padding:11px;margin-left: 2px;">Gestione Utenti</span>
        </div>
        <!-- Aggiungi il testo o altri elementi qui sulla parte destra -->
      </a>
      <a mat-list-item href="log" style="display: flex; align-items: center; justify-content: space-between;">
        <div style="display: flex; align-items: center;">
          <i class="fa-solid fa-chart-simple" style="font-size: 20px;"></i>
          <span style="font-size: small; padding:23px;">Log Utenti</span>
        </div>
        <!-- Aggiungi il testo o altri elementi qui sulla parte destra -->
      </a>
    </mat-nav-list>
    <div style="position: absolute; top: 0; right: 0; padding: 10px;">
      <button mat-button
        style="position: absolute;  right: 0; padding: 10px;border: 1px solid transparent; transition: border-color 0.3s;"
        (click)="Closeside()">
        <i class="fa-solid fa-circle-left" style="color: white;"><span class="text-sidenav">Riduci</span></i>
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <!-- <button mat-icon-button class="example-icon" *ngIf="isAdmin()" (click)="sidenav.toggle()"> -->
        <!-- <i class="fa-solid fa-list"></i>
      </button> -->
      <span>Tool Analisi POS <i class="fa-solid fa-file-lines" style="margin-left: 5px; color: #e32f0e;"></i></span>
      <span class="example-spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu utenti" (click)="returnhome()">
        <!-- <mat-icon class="users-admin">supervised_user_circle</mat-icon> -->
        <i class="fa-solid fa-house" style="color: #282525;font-size: 19px;"></i>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu utenti">
        <!-- <mat-icon class="users-admin">supervised_user_circle</mat-icon> -->
        <i class="fa-regular fa-user" style="font-size: 20px; color: red;"></i>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="button-logout" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i><span
            style="font-size: 13px; margin-left: 10px;">Log out</span></button>
      </mat-menu>
      <div class="admin">{{username}}</div>
      <img src="assets/logoInnovationwithout.png" alt="Immagine di login" class="image">
    </mat-toolbar>
    <div class="User-panel">
      <i class="fa-solid fa-house" style="font-size: 15px;"></i>
      <i class="fa-solid fa-arrow-right" style="margin-left:5px; font-size: 11px;padding-bottom: 2px;"></i>
      <span class="second-tree">Carica POS</span>
      <i class="fa-solid fa-arrow-right" style="margin-left:3px; font-size: 11px;padding-bottom: 2px;"></i>
      <span class="second-tree">Checklist</span>
      </div>
    <!-- <div class="table-responsive">
      <table class="mat-elevation-z8">
        <thead>
          <th>Data</th>
          <th>Comune</th>
          <th>Latitudine</th>
          <th>Longitudine</th>
          <th>Foglio</th>
          <th>Particella</th>
        </thead>
        <tbody>
          <tr *ngIf="responseData">
            <td>{{ responseData.today_date }}</td>
            <td>{{ responseData.comune }}</td>
            <td>{{ responseData.latitudine }}</td>
            <td>{{ responseData.longitudine }}</td>
            <td>{{ responseData.foglio }}</td>
            <td>{{ responseData.particella }}</td>
        </tbody>    
      </table>
    </div> -->
    <div class="table">
      <section class="table__header" id="chat-response-column">
          <!-- Chatbot response -->
          
          <i class="fa-regular fa-rectangle-list" style="font-size: 26px;margin-right: 5px;"></i>
          <h3>CHECKLIST CONTENUTI MINIMI DEL POS</h3>
          </section>
          <section class="table__body">
              <table id="chatResponsesTable">
                  <thead>
                      <tr>
                          <th>Articolo</th>
                          <th>Richiesta</th>
                          <th>Risposta</th>
                          <th>Pagina</th>
                      </tr>
                  </thead>
                  <tbody>
                    <!-- <tr>
                      <td>1</td>
                      <td>Lorem Ipsum </td>
                      <td>dswffs</td>
                      <td>1</td>
                   </tr>
                   <tr>
                    <td>1</td>
                    <td>Lorem Ipsum </td>
                    <td>dswffs</td>
                    <td>1</td>
                 </tr>
                 <tr>
                  <td>1</td>
                  <td>Lorem Ipsum </td>
                  <td>dswffs</td>
                  <td>1</td>
               </tr> -->
                </tbody>
               </table>
        </section>
      </div>
      <div >
        <button mat-button class="go-back" (click)="onBack()"><i class="fa-solid fa-backward-step" style="color: #ffffff; margin-left: 5px; margin-right: 3px;"></i><span style="color: white;">Indietro</span>      
        </button>
         </div>   
      <div>
        <!-- <button mat-button class="left-button" id="download-button" [disabled]="!boolean_res" [ngStyle]="{'background-color': boolean_res ? '#007bff' : '#f2f2f2', 'color': boolean_res ? '#ffffff' : '#a0a0a0', 'cursor': boolean_res ? 'pointer' : 'not-allowed'}" (click)="onClickDownload()"><i class="fa-solid fa-file-export" style="margin-right: 5px;"></i>Scarica Checklist POS</button> -->

      </div>
      

    
  </mat-sidenav-content>
</mat-sidenav-container>