<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side">
      <div style="background-color: #00bcd4; height: 64px;">
      </div>
      <mat-nav-list>
        <div style="margin-top: 20px; display: block;"></div>
            <a mat-list-item href="/users-admin" style="display: flex; align-items: center; justify-content: space-between; ">
              <div style="display: flex; align-items: center;">
                <i class="fa-solid fa-gears" style="font-size: 20px;"></i>
                  <span style="font-size: small;padding:11px;">Gestione Utenti</span>
              </div>
            </a>
      </mat-nav-list>
        <div style="position: absolute; top: 0; right: 0;padding: 10px;">
          <button mat-button style="position: absolute;  right: 0; padding: 10px;border: 1px solid transparent; transition: border-color 0.3s;"(click)="Closeside()">
            <i class="fa-solid fa-circle-left" style="color: white;" ><span class="text-sidenav">Riduci</span></i>
          </button>
          </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar>
        <button mat-icon-button class="example-icon" *ngIf="isAdmin()" (click)="sidenav.toggle()">
          <mat-icon class="menu-class">menu</mat-icon>
        </button> 
        <span>Tool Documentazione H.R.<i class="fa-regular fa-file" style="margin-left: 5px; color: #0e6be3bd;"></i></span>
        <span class="example-spacer"></span>
        <button mat-icon-button  aria-label="Menu utenti" (click)="backtostart()">
          <i class="fa-solid fa-house" style="color: #282525;font-size: 19px;"></i>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu utenti">
          <i class="fa-regular fa-user" style="font-size: 20px; color: #0e6be3bd;"></i>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item class="button-logout" (click)="logout()"><mat-icon class="logout">logout</mat-icon><span style="font-size: 13px;">Log out</span></button>
        </mat-menu>
        <div class="admin">{{username}}</div>
        <img src="assets/logoInnovationwithout.png" alt="Immagine di login" class="image">
      </mat-toolbar>
      <div class="User-panel">
        <i class="fa-solid fa-house" style="font-size: 15px; color: gray;"></i>
        <i class="fa-solid fa-arrow-right" style="margin-left:5px; font-size: 11px;padding-bottom: 2px;color: gray;"></i>
        <span class="second-tree">Tool Documentazione H.R.</span>
        </div> 
      <mat-horizontal-stepper linear #stepper>
        <mat-step  class="gg" label="Upload file richiesto (zip)" [editable]="firstStepCompleted">
          <div class="flex-container">
            <!-- Expansion Panel con le istruzioni -->
      <!-- <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Istruzioni per il caricamento del file ZIP
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          Prima di procedere alla creazione e successivo caricamento dello ZIP, ricorda di rinominare i file excel facendo precedere al nome degli stessi, il numero identificativo scelto in accordo alla tipologia di contenuto:
          <ul>
            <li>1 => Risorse attive</li>
            <li>2 => Presenze Fiori</li>
            <li>3 => Diarie</li>
            <li>4 => Richieste Ferie/Permessi/ROL (mytime)</li>
            <li>5 => Riepilogo Note Spese</li>
            <li>6 => Rendicontazione Ferie Permessi (mytime)</li>
            <li>7 => Dipendenti per Sede</li>
          </ul>
        </div> -->
      <!-- </mat-expansion-panel> -->
            <!-- Form per il caricamento del file excel -->
            <mat-card class="form-container">
              <form id="pdf-upload-ZIP" enctype="multipart/form-data" (submit)="onSubmit($event)">
                <div>
                  <h4 style="text-align: center; margin-top: 25px;font-size: 26px; color:#808080c2;">Carica l'elenco dei file excel in formato ZIP</h4>
                  <mat-divider class="horizontal-divider"></mat-divider>
                  <div class="choose-file">
                    <input type="file" id="file-input-zip" #fileInput multiple (change)="onZIPSelected($event)" accept=".zip"/>
                    <label for="file-input-zip" class="label-zip">
                      <i class="fa-solid fa-arrow-up-from-bracket"></i>
                      &nbsp;
                      Seleziona file (zip)
                    </label>
                    <div id="num-of-files-zip">Nessun file selezionato</div>
                    <ul id="files-list-zip"></ul>
                  </div>
                  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div> <!-- Visualizza l'errore -->
                  <div class="upload-docs">
                  <button mat-raised-button type="submit" id="analyzeButton" style="padding: 10px 20px; font-size: 17px; margin-top: 35px; "  block="true"  [disabled]="submitting || !fileListZIP">
                    <span *ngIf="!submitting">Analizza</span>
                    <mat-spinner *ngIf="submitting" diameter="24" color="warn"></mat-spinner>
                    </button> 
                    </div>            
                  </div>
                  <div class="alert" *ngIf="submitting"><span>Analisi in corso. </span></div>           
                  <div><span class="alert1" *ngIf="submitting">Non chiudere la pagina</span></div>     
                </form>              
            </mat-card>
              </div>
              <!-- <span class="istruzioni">Info</span> -->
            <!-- <button mat-raised-button class="info-button">
              <i class="fa-solid fa-question" style="font-size: 10px;"></i>
            </button>-->
            <mat-dialog-actions>
            <button class="info-button" (click)="openDialog()">
            <mat-icon class="info-icon" cursor="pointer">info</mat-icon>              
            </button>
            </mat-dialog-actions>
        </mat-step>
        
        <mat-step label="Scarica excel" [editable]="thirdStepEditable">
          <div>
            <i class="fa-solid fa-circle-check" style="color: #00ff15b8;font-size: 56px;display: flex;justify-content: center;margin-top: 20px;"></i><span class="complete" style="text-align: center; margin-top: 25px;font-size: 26px; color:#808080c2;">Operazione Completata con Successo!</span>
          </div>
          <div class="button-container">
            <button mat-button class="button-left" (click)="downloadExcel()"><i class="fa-solid fa-file-excel" style="margin-right: 5px; font-size: 20px;"></i><span style="font-size: 18px;">Scarica excel</span></button>
          </div>    
          
        </mat-step>
      </mat-horizontal-stepper>
      </mat-sidenav-content>
      </mat-sidenav-container>
